.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;

        @media screen and (max-width:999px) {
            width: 400px;
        }
    }

    .slick-prev {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background-color: #fff;
        border: none;

        img {
            width: 31px;
            height: 55px;
        }
    }

    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: -66px;
        background-color: #fff;
        border: none;

        img {
            width: 31px;
            height: 55px;
        }
    }
}